# dependencies
node_modules/

# environments
.env
.env.local
.env.production
.env.development
.env.test
.env.development.local
.env.test.local
.env.production.local
backend/.env
prototype/.env.local
prototype/.env

# next.js
.next/
out/

# production
build/
dist/

# logging
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
.DS_Store
*.pem

# testing
coverage/

# typescript
*.tsbuildinfo
next-env.d.ts
